useDynLib(phmm)

importFrom(survival, Surv)
importFrom(stats, AIC)
import(Matrix)

export(phmm, loglik.cond, linear.predictors, 
       pseudoPoisPHMM, traceHat, 
       cAIC, phmm.cond.loglik)

S3method(loglik.cond, phmm)
S3method(linear.predictors, phmm)
S3method(pseudoPoisPHMM, phmm)
S3method(pseudoPoisPHMM, coxph)
S3method(AIC, phmm)
S3method(AIC, coxph)
S3method(cAIC, phmm)
S3method(cAIC, coxph)

S3method(print, phmm)
S3method(print, summary.phmm)
S3method(summary, phmm)
S3method(plot, phmm)
